<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.roccoormm.LaunchAgent-AppDelegate-NotificationCenter</string>
	<key>ProgramArguments</key>
	<array>
		<string>$HOME/Library/Developer/Xcode/DerivedData/$APP_NAME-$APP_BUILD_STR/Build/Products/Debug/$APP_NAME.app/Contents/MacOS/$APP_NAME</string>
	</array>
	<key>Disabled</key>
	<false/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>ExitTimeOut</key>
	<integer>1</integer>
</dict>
</plist>
